<p-panel
  header="Pipes Personalizados"
  class="p-1">

  <p>
    Creados por _{{ 'nosotros' | toggleCase:mode }}_
  </p>

</p-panel>


<p-toolbar>
  <div class="p-toolbar-group-start p-1">
    <p-button
        label="ToogleCase"
        icon="pi pi-pencil"
        (click)="toggleCaseChangeMode()"
      ></p-button>
  </div>

  <div class="p-toolbar-group-end">

      <p-button class="mr-2"
                (click)="changeOrder('name')"
                label="Por nombre"
                icon="pi pi-sort"
                styleClass="p-button-success">
      </p-button>

      <p-button class="mr-2"
                (click)="changeOrder('canFly')"
                label="Por volar"
                icon="pi pi-sort"
                styleClass="p-button-danger">
      </p-button>

      <p-button class="mr-2"
                (click)="changeOrder('color')"
                label="Por color"
                icon="pi pi-sort"
                styleClass="p-button-help">
      </p-button>
  </div>
</p-toolbar>


<div class="grid">
  <div class="col mt-2">
    <p-panel header="Heroes">

      <p-table [value]="heroes | sortBy:sortBy" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Vuela</th>
                <th>Color</th>
            </tr>
        </ng-template>
        (onClick)="()"
        <ng-template pTemplate="body" let-hero>
            <tr>
                <td>{{ hero.name }}</td>
                <td>{{ hero.canFly | canFly }}</td>
                <td>{{ hero.color | color }}</td>
            </tr>
        </ng-template>
      </p-table>

    </p-panel>
  </div>
</div>


<div class="grid">
  <div class="col-12 md:col-6 mt-1">
    <p-panel header="Números que representan colores">

        <ol>
          <li> 0 | color (Rojo) </li>
          <li> 1 | color (Negro) </li>
          <li> 2 | color (Azúl) </li>
          <li> 3 | color (Verde) </li>
        </ol>

    </p-panel>
  </div>

  <div class="col-12 md:col-6 mt-1">
    <p-panel header="Visualización en colores">

      <ol>
        <li> {{ numbers[0] | color }} </li>
        <li> {{ numbers[1] | color }} </li>
        <li> {{ numbers[2] | color }} </li>
        <li> {{ numbers[3] | color }} </li>
      </ol>

    </p-panel>
  </div>
</div>

